<div id="portfolio" class="portfolio grid-container clearfix">
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn blue">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn yellow">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn red">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn green">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>

    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn blue">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn yellow">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn red">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn green">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>

    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn blue">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn yellow">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn red">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-ctn green">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h4>Lorem ipsum dolor.</h4>
        </div>
    </article>
</div>