<section class="home-banner-area relative">
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel home-banner-owl">
                <div class="banner-img">
                    <img class="img-fluid" src="img/banner/b_5.jpg" alt="" />
                    <div class="text-wrapper hidden-sm">
                        <h3 class="typo-list">Neque porro dolorem ipsum quia.</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="#" class="genric-btn primary circle arrow">Learn More<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
                <div class="banner-img">
                    <img class="img-fluid" src="img/banner/b_4.jpg" alt="" />
                    <div class="text-wrapper">
                        <h3 class="typo-list">Neque porro dolorem ipsum quia.</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="#" class="genric-btn primary circle arrow">Learn More<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
                <div class="banner-img">
                    <img class="img-fluid" src="img/banner/b_2.jpg" alt="" />
                    <div class="text-wrapper">
                        <h3 class="typo-list">Neque porro dolorem ipsum quia.</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="#" class="genric-btn primary circle arrow">Learn More<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
                <div class="banner-img">
                    <img class="img-fluid" src="img/banner/b_3.jpg" alt="" />
                    <div class="text-wrapper">
                        <h3 class="typo-list">Neque porro dolorem ipsum quia.</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="#" class="genric-btn primary circle arrow">Learn More<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>