<footer class="footer-area">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
                <a class="f-logo" href="index.html"><img class="mx-auto" src="img/logo.png" alt=""/></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
                    magna aliqua.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-footer-widget footer-menu">
                <h6 class="mb-20">Menu</h6>
                <div class="row">
                    <ul class="f-menus col-1 col-lg-6">
                        <a href="#">TRAVEL</a>
                        <a href="#">NATURE</a>
                        <a href="#">EXPLORES</a>
                        <a href="#">SCIENCE</a>
                        <a href="#">ADVICE</a>
                    </ul>
                    <ul class="f-menus col-2 col-lg-6">
                        <a href="#">About Us</a>
                        <a href="#">Contacts</a>
                        <a href="#">Terms & Condition</a>
                        <a href="#">Privacy Policy</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
                <h6>FOLLOW US</h6>
                <div class="footer-social">
                    <a href="#">Facebook</a>
                    <a href="#">Twitter</a>
                    <a href="#">Instagram</a>
                    <a href="#">RSS</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
                <h6>NEWSLETTER</h6>
                <p>Stay update with our latest</p>
                <div class="" id="mc_embed_signup">
                    <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                     method="get" class="form-inline">
                        <div class="d-flex flex-row">
                            <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                            <button class="click-btn btn btn-default">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>
                        </div>
                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>