<div class="col-lg-3 sidebar-widgets">
    <div class="widget-wrap">
        <div class="single-sidebar-widget search-widget">
            <form class="search-form" action="#">
                <input placeholder="" name="search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="single-sidebar-widget post-category-widget">
            <h3 class="widget-title">Toán Học</h3>
            <h5 class="category-title">Cấp 1</h5>
            <ul class="cat-list mt-20">
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 1</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 2</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 3</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 4</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 5</p>
                    </a>
                </li>
            </ul>
            <h5 class="category-title">Cấp 2</h5>
            <ul class="cat-list mt-20">
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 6</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 7</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 8</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 9</p>
                    </a>
                </li>
            </ul>
            <h5 class="category-title">Cấp 3</h5>
            <ul class="cat-list mt-20">
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 10</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 11</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lớp 12</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
