<div class="col-lg-4 sidebar-widgets">
    <div class="widget-wrap">
        <div class="single-sidebar-widget search-widget">
            <form class="search-form" action="#">
                <input placeholder="" name="search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="single-sidebar-widget post-category-widget">
            <h3 class="widget-title">Math</h3>
            <h5 class="category-title">Cap 1</h5>
            <ul class="cat-list mt-20">
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 1</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 2</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 3</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 4</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 5</p>
                    </a>
                </li>
            </ul>
            <h5 class="category-title">Cap 2</h5>
            <ul class="cat-list mt-20">
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 6</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 7</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 8</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 9</p>
                    </a>
                </li>
            </ul>
            <h5 class="category-title">Cap 3</h5>
            <ul class="cat-list mt-20">
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 10</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 11</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="d-flex justify-content-between">
                        <p>Lop 12</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
