.heading-searchbar{
    height: 40px;
    background: $search-color;
    border-radius: 5px;
    margin-bottom: 30px;

    form.search-form input[type="text"]{
        height: 40px;
        color: #13113a;
        padding: 11px 22px;
        font-size: 16px;
        border: none;
        float: left;
        width: 80%;
        border: 1px solid $primary-color;
        border-right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    form.search-form button{
        float: left;
        width: 20%;
        height: 40px;
        color: $white;
        font-size: 17px;
        border: none;
        cursor: pointer;
        background: $primary-color;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        opacity: .8;
        border: 1px solid $primary-color;
    }
}

.vm-table{
    display: table;
    .vm-table-cell{
        display: table-cell;
        width: 1px;
        vertical-align: middle;
        padding-right: 10px;
        &.right{
            width: 100%;
            text-align: right;
        }
    }
}
.category-title{
    font-size: 18px !important;
    margin-top: 20px;
}
.widget-title{
    text-align: center;
}
.video-container{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}