.logo-outer {
    text-align: center;
    position: relative;
    @media (max-width: 991px) {
        position: absolute;
        top: 9px;
        padding: 0;
        text-align: left;
    }
    @media (max-width: 420px) {
        top: 5px;
    }
}
.logo-inner {
    position: relative;
    img {
        max-height: 60px;
    }
}

.header-area {
    position: relative;
    background-color: $white;
    width: 100%;
    z-index: 999999;
    @include transition();
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    @media (max-width: 991px) {
        position: absolute;
    }
    .navbar {
        padding: 0;
        @media (max-width: 991px) {
            padding: 15px 0;
            max-width: 100px;
            margin-left: auto;
        }
        .dropdown-item {
            width: auto !important;
            text-align: left;
            font-size: 14px;
            @media (max-width: 991px) {
                text-align: right;
                padding: 0.25rem;
            }
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    animation-name: menu-sliding;
    animation-duration: .3s;
}

@keyframes menu-sliding {
    0%   {top: -100px;}
    100% {top: 0;}
}

@media (min-width: 992px) {
    .dropdown .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: transparent;
}

.menu-left {
    text-align: right;
    a {
        margin-right: 26px;
        color: $black;
        font-size: 16px;
        font-family: $title-font;
        font-weight: 700;
        @media (max-width: 1199px) {
            margin-right: 16px;
        }
        @media (max-width: 991px) {
            margin-right: 7px;
        }
        &:hover,
        &.active {
            color: $primary-color;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    @media (max-width: 991px) {
        display: none;
    }
}

.menu-right {
    background: #232d36;
    .nav-item {
        display: inline-block;
        .nav-link {
            color: $white;
            font-size: 16px;
            font-family: $title-font;
            font-weight: 700;
            &:hover,
            &.active {
                color: $primary-color;
            }
            @media (max-width: 1199px) {
                margin: 0px 9px;
            }
            @media (max-width: 991px) {
                padding: 10px 0;
                margin-right: 7px;
                letter-spacing: normal;
            }
        }
        .dropdown-menu {
            border-radius: 0;
            margin-top: 0px;
            border: none;
            @media (max-width: 991px) {
                margin-top: 0px;
            }
            a {
                display: block;
                margin-bottom: 10px;
                text-transform: capitalize;
            }
        }
        @media (min-width: 991px) {
            background: #232d36;
        }
        @media (max-width: 991px) {
            text-align: right;
            background: transparent;
        }
    }
    @media (max-width: 1280px) and (min-width: 799px) {
        font-size: 11px;
    }
    @media (max-width: 800px) {
        font-size: 14px;
    }
    @media (max-width: 991px) {
        text-align: right;
    }
    .hide-lg {
        display: none;
        @media (max-width: 991px) {
            display: block;
        }
    }
}

.default-header {
    background-color: #fff;
    padding: 20px 0;
    width: 100% !important;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}

.sticky-wrapper {
    height: 48px !important;
}
