{% extends "layout.njk" %}
{% block content %}
    {% include "partials/banner_slider.njk" %}
    <section class="highlight-video-area section-gap relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="heading-searchbar">
                                <form class="search-form" action="#">
                                    <input placeholder="Search Videos" name="search" type="text">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h3 class="text-heading">VIDEO NỔI BẬT</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="single-amenities">
                                <div class="amenities-thumb">
                                    <img class="img-fluid w-100" src="img/video/v_1.jpg" alt=""/>
                                </div>
                                <div class="amenities-details">
                                    <h5>
                                        <a href="#">Lorem ipsum dolor sit amet.</a>
                                    </h5>
                                    <i class="right-arrow fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="single-amenities">
                                <div class="amenities-thumb">
                                    <img class="img-fluid w-100" src="img/video/v_2.jpg" alt=""/>
                                </div>
                                <div class="amenities-details">
                                    <h5>
                                        <a href="#">Lorem ipsum dolor sit amet.</a>
                                    </h5>
                                    <i class="right-arrow fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="single-amenities">
                                <div class="amenities-thumb">
                                    <img class="img-fluid w-100" src="img/video/v_3.jpg" alt=""/>
                                </div>
                                <div class="amenities-details">
                                    <h5>
                                        <a href="#">Lorem ipsum dolor sit amet.</a>
                                    </h5>
                                    <i class="right-arrow fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="single-amenities">
                                <div class="amenities-thumb">
                                    <img class="img-fluid w-100" src="img/video/v_4.jpg" alt=""/>
                                </div>
                                <div class="amenities-details">
                                    <h5>
                                        <a href="#">Lorem ipsum dolor sit amet.</a>
                                    </h5>
                                    <i class="right-arrow fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="category-area section-gap relative">
        <div class="container">
            <div class="row mb-30">
                <div class="col-lg-12">
                    <h3 class="text-heading">CHỦ ĐỀ</h3>
                </div>
                <div class="col-lg-12">
                    {% include "partials/categories.njk" %}
                </div>
            </div>
            {% include "partials/pagination.njk" %}
        </div>
    </section>
{% endblock %}