<!DOCTYPE html>
<html lang="zxx" class="no-js">
    {% include "partials/head.njk" %}
    <body>
        {% include "partials/head_menu.njk" %}
        {% block content %}{% endblock %}
        {% include "partials/footer.njk" %}
        {% include "partials/js_assets.njk" %}
    </body>
</html>