<section class="home-banner-area relative">
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel home-banner-owl">
                <div class="banner-img">
                    <img class="img-fluid" src="https://via.placeholder.com/1140x650?text=1_(1140x650)" alt="" />
                    <div class="text-wrapper">
                        <a href="#" class="d-flex">
                            <h1>
                                Neque porro<br />
                                dolorem ipsum quia.
                            </h1>
                        </a>
                    </div>
                </div>
                <div class="banner-img">
                    <img class="img-fluid" src="https://via.placeholder.com/1140x650?text=2_(1140x650)" alt="" />
                    <div class="text-wrapper">
                        <a href="#" class="d-flex">
                            <h1>
                                Neque porro<br />
                                dolorem ipsum quia.
                            </h1>
                        </a>
                    </div>
                </div>
                <div class="banner-img">
                    <img class="img-fluid" src="https://via.placeholder.com/1140x650?text=3_(1140x650)" alt="" />
                    <div class="text-wrapper">
                        <a href="#" class="d-flex">
                            <h1>
                                Neque porro<br />
                                dolorem ipsum quia.
                            </h1>
                        </a>
                    </div>
                </div>
                <div class="banner-img">
                    <img class="img-fluid" src="https://via.placeholder.com/1140x650?text=4_(1140x650)" alt="" />
                    <div class="text-wrapper">
                        <a href="#" class="d-flex">
                            <h1>
                                Neque porro<br />
                                dolorem ipsum quia.
                            </h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-icons">
        <ul>
            <li>
                <a href="index.html"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-pinterest"></i></a>
            </li>
            <li class="diffrent">sharre now</li>
        </ul>
    </div>
</section>