<div class="single-amenities">
    <div class="amenities-thumb">
        <img class="img-fluid w-100" src="https://via.placeholder.com/300x200/49c5b6/ffffff" alt=""/>
    </div>
    <div class="amenities-details">
        <h5>
            <a href="#">Lorem ipsum dolor sit amet.</a>
        </h5>
        <div class="amenities-meta mb-10">
            <a href="#" class="">
                <span class="ti-calendar"></span>20th Nov, 2018
            </a>
            <a href="#" class="ml-20">
                <span class="ti-comment"></span>05
            </a>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <div class="d-flex justify-content-between mt-20">
            <div>
                <a href="detail.html" class="blog-post-btn">
                    Read More <span class="ti-arrow-right"></span>
                </a>
            </div>
            <div class="category">
                <a href="#">
                    <span class="ti-folder mr-1"></span> Math
                </a>
            </div>
        </div>
    </div>
</div>