<div id="portfolio" class="portfolio grid-container clearfix">
    <!-- Category Item single image -->
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-image">
            <a href="#">
                <img src="https://via.placeholder.com/300x200/49c5b6/ffffff" alt="_alt">
            </a>
            <div class="portfolio-overlay">
                <a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                </a>
                <a href="portfolio-single-video.html" class="right-icon">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="#">Math</a></h3>
        </div>
    </article>
    <!-- /Category Item -->

    <!-- Category Item multiple images -->
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-image">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="https://via.placeholder.com/300x200/49c5b6/ffffff" alt="_alt1"/>
                    </li>
                    <li>
                        <img src="https://via.placeholder.com/300x200/49c5b6/ffffff" alt="_alt2"/>
                    </li>
                </ul>
            </div>
            <div class="portfolio-overlay">
                <a href="#" class="left-icon">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                </a>
                <a href="#" class="right-icon">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="#">Language</a></h3>
        </div>
    </article>
    <!-- /Category Item multiple images -->
    <!-- Category Item multiple images -->
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-image">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="https://via.placeholder.com/300x200/49c5b6/ffffff" alt="_alt1"/>
                    </li>
                    <li>
                        <img src="https://via.placeholder.com/300x200/49c5b6/ffffff" alt="_alt2"/>
                    </li>
                </ul>
            </div>
            <div class="portfolio-overlay">
                <a href="#" class="left-icon">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                </a>
                <a href="#" class="right-icon">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="#">Language</a></h3>
        </div>
    </article>
    <!-- /Category Item multiple images -->
    <!-- Category Item multiple images -->
    <article class="col-lg-3 col-md-3 portfolio-item">
        <div class="portfolio-image">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="https://via.placeholder.com/300x200/49c5b6/ffffff" alt="_alt1"/>
                    </li>
                    <li>
                        <img src="https://via.placeholder.com/300x200/49c5b6/ffffff" alt="_alt2"/>
                    </li>
                </ul>
            </div>
            <div class="portfolio-overlay">
                <a href="#" class="left-icon">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                </a>
                <a href="#" class="right-icon">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="#">Language</a></h3>
        </div>
    </article>
    <!-- /Category Item multiple images -->
</div>